.container-column {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.question-bar {
    border: 0px;
    background-color: lightblue;
    border-radius: 15px;
    height: 2em;
}

button {
    position: relative;
    right: 2em;
}

input {
    width: 30em;
    padding-left: 1em;
}

.logo {
    width: 10em;
    height: 10em;
}

.answers {
    width: 40em;

    margin-top: 2em;
    margin-right: 1em;
}

.margin-lr {
    margin: 1vw 3vw;
}

a {

}