<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/styles.css">
    <script>
        MathJax = {
          tex: {
            inlineMath: {'[+]': [['$', '$']]}
          }
        };
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
</head>
<body>

    <div class="container-column" style="justify-content: flex-start; margin-top: 10em"> <!--overwriting primary alignment-->
        <div class="container-row">
            <form method="POST">
                <input class="question-bar" type="text" name="question" value="{{ query }}" required> <!--set value to question entered -->
                <button class="question-bar" type="submit">O</button>
            </form>
        </div>
        <div class="answers">
            {% for key, item in result.items() %}
                <a class="margin-lr" href="{{ item.link }}">{{ item.title }}</a>
                <p class="margin-lr">
                {{ item.excerpt }}
                </p>
            <hr>
            {% endfor %}
        </div>
    </div>
    <script>
        MathJax.typeset();
    </script>
</body>
</html>