<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MathWorld</title>
    <link rel="stylesheet" href="static/styles.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />  </head>

    <script>
        MathJax = {
          tex: {
            inlineMath: {'[+]': [['$', '$']]}
          }
        };
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
</head>
<body>

    <div class="container-column" style="justify-content: flex-start; margin-top: 10em"> <!--overwriting primary alignment-->
        <div class="container-row">
            <form method="POST">
                <input class="question-bar" type="text" name="question" value="{{ query }}" required> <!--set value to question entered -->
                <button class="" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="answers">
            {% for key, item in result.items() %}
                <a class="margin-lr question-link" href="{{ item.link }}">{{ item.title }}</a>
                <p class="margin-lr">
                {{ item.excerpt }}
                </p>
            <hr>
            {% endfor %}
        </div>
    </div>
    <script>
        MathJax.typeset();
    </script>
</body>
</html>